body {
    background-color: #1E2F2C;
    font-family: Arial, Helvetica, sans-serif;
    color: #D3D3D3
}
body.login-layout {
    background-color: #404040;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999
}

h1 {
    color: whitesmoke;
    font-size: 250%;
}

h2 {
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Open Sans, sans-serif;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    outline: 0;
}
button::-moz-focus-inner {
    border: none;
}

button {
    padding: 6px 9px;
    font-size: 1.3em;
    border-radius: 2px;
    border: 1px solid #ACACAC;
    background-color: #7C726B;
    color: #422C1E;
    cursor: pointer;
}

button.add-btn {
    background-color: #a1b96c;
}

/*///////////////===================_Login_and_SignUp_=========================//////////////*/
div.login-layout {
    width: 400px;
    margin-left: calc(50% - 200px);
    background: #404040;
    padding: 11px 8px;
    margin-top: 200px;
    border: 1px solid #0f7595;
}

.login-layout h1 {
    margin: 10px 0px;
    text-align: center;
    color: darkblue;
}
.login-layout h2 {
    text-align: center;
    color: red;
    margin-bottom: 0;
}
.login-layout h3 {
    margin-left:15px;
    margin-bottom: 0;
}

.login-layout fieldset {
    border: none;
}
.login-layout fieldset#actions {
    text-align: right;
}


.login-layout div.form-group {
    margin: 8px 0px;
    text-align: center;
}

.login-layout div.form-group input {
    font-size: 1.2em;
    border: none;
    box-shadow: inset 0 0 10px #232323;
    border-radius: 6px;
    padding: 10px 10px;
    width: 93%;
    margin: 0;
    background: #1E2F2C;
    color: #999999;
}

.login-layout button {
    min-width: calc(100% - 3px);
}

fieldset#actions a {
    margin-top: 5px;
    display: inline-block;
    color: #00a1d2;
    text-decoration: none;
}

/*///////////////===================_Input_Placeholder_=========================//////////////*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: gray;
}
::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}