<div class="main-layout">
    <div class="main-header">
        <a routerLink="/dashboard">
            <h1>{{title}}</h1>
        </a>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <div class="main-right-panel" style="height: 120px">
        <nav>
            <a [routerLink]="['/desks/card/new']" [queryParams]="{deskListMode: 'select'}" routerLinkActive="active">
                <div class="nav-link">
                    New card
                </div>
            </a>
            <a [routerLink]="['/desks/desk']" routerLinkActive="active">
                <div class="nav-link">
                    Desks
                </div>
            </a>
        </nav>
    </div>
    <div class="main-footer">

    </div>
</div>