<div class="main-layout">
    <div class="main-header">
        <a routerLink="/dashboard">
            <h1>{{title}}</h1>
        </a>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
    <div class="main-right-panel" style="height: 120px">
        <nav>
            <a routerLink="/card/new" routerLinkActive="active">
                <div class="nav-link">
                    New card
                </div>
            </a>
        </nav>
    </div>
    <div class="main-footer">

    </div>
</div>