<div class="card-form">
    <h2>New Card</h2>
    <form>
        <div class="form-group">
            <label for="word-writing">Writing</label>
            <input id="word-writing" type="text">
        </div>

        <div class="form-group">
            <label for="word-transcription">Transcription</label>
            <input id="word-transcription" type="text">
        </div>

        <div class="form-group">
            <label for="word-meaning">Meaning</label>
            <input id="word-meaning" type="text">
        </div>
    </form>
</div>