<div>
    <div class="desks-controls">
        <button class="add-btn" (click)="newDesk()" type="button">New desk</button>
    </div>
    <div class="items" [class.selectMode]="isSelectMode()">
        <div *ngFor="let desk of desks"
             [class.selected]="isSelected(desk)"
             (click)="selectDesk(desk)">
            <div class="desk-title">{{desk.title}}</div>
            <!--Moving triangle-->
            <div class="arrow-container">
                <div class="arrow">
                    <div class="arrow-tip"></div>
                    <div class="arrow-base"></div>
                </div>
            </div>
        </div>
    </div>
</div>