div.main-layout {
    padding: 5px;
}

div.main-header > h1 {
    margin: 10px 0;
}
div.main-header {
    background: #404040;
    border: 1px solid #0f6580;
    margin-bottom: 15px;
    padding-left: 30px;
}

div.main-content {
    padding: 3px;
    background: #404040;
    float: left;
    width: 80%;
    border: 1px solid #0f6580;
}

div.main-right-panel {
    background: #404040;
    margin-left: calc(80% + 15px);
    border: 1px solid #0f6580;
}

.main-layout a {
    text-decoration: none;
}


nav .nav-link {
    padding: 8px 5px;
    font-size: 1.5em;
    color: #422C1E;
    background: #7C726B;
    border-bottom: 2px solid #404040;
}
nav .nav-link:hover {
    transition-duration: 400ms;
    color: antiquewhite;
}