.items li {
    list-style-type: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    padding: 7px 5px;
    background-color: #999999;
    color: #3D2632;
    cursor: pointer;
    font-size: 1.1em;
    margin: 0.1em;
}

ul.items {
    padding: 0;
    margin: 0;
}
