div.desks {
    position: relative;
}

div.desk-list {
    vertical-align: top;
    width: 250px;
    display: inline-block;
    margin: 5px;
}

div.desk-detail {
    display: inline-block;
    vertical-align: top;
    min-width: 75%;
    margin: 5px 5px 5px 15px;
}