<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrainBurns</title>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{/resources/styles.css}">

    <!-- Polyfill(s) for older browsers -->
    <!-- Thymeleaf here -->
    <script th:attr="src=@{/resources/node_modules/core-js/client/shim.min.js}"></script>
    <script th:attr="src=@{/resources/node_modules/reflect-metadata/Reflect.js}"></script>
    <script th:attr="src=@{/resources/node_modules/zone.js/dist/zone.js}"></script>
    <script th:attr="src=@{/resources/node_modules/systemjs/dist/system.src.js}"></script>
    <script th:attr="src=@{/resources/systemjs.config.js}"></script>
    <script>
        System.import('app').catch(function (err) {
            console.error(err);
        });
    </script>
</head>

<body>
<brainburns-app></brainburns-app>
<div id="loading-overlay" class="loading">
    <div class="center-panel">
        <div class="loading-label">Loading</div>
        <div class="anim-panel">
            <div class="vertical dot"></div>
            <div class="horizontal dot"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.bootstrapping.then(function () {
        document.getElementById("loading-overlay").className = "";
    });
</script>
</body>
</html>
