<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrainBurns Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{/resources/styles.css}">
</head>
<body>
<div class="login-layout">
    <form th:attr="action=@{/signin}" method="POST">
        <fieldset>
            <div class="form-group">
                <input id="username" name="username" type="text" placeholder="Username" autofocus required>
            </div>
            <div class="form-group">
                <input id="password" name="password" type="password" placeholder="Password" required>
            </div>
        </fieldset>
        <h2 th:if="${param.error}">Incorrect Username or Password</h2>
        <h2 th:if="${param.userCreated}">You created a new user</h2>
        <fieldset id="actions">
            <button type="submit" name="submit" id="submit" value="Sign In">Login</button>
            <div>
                <a th:href="@{/signup}">Create new account</a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>