<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BrainBurns Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          th:href="@{/resources/styles.css}">
</head>
<body>
<div class="login-layout">
    <h2 th:if="${param.exists}">User with this name already exists</h2>
    <h2 th:if="${param.passwordNotRepeated}">You should repeat password!</h2>
    <form th:attr="action=@{/user/signup}" method="POST">
        <fieldset>
            <div class="form-group">
                <input id="username" name="username" type="text" placeholder="Username" autofocus required>
            </div>
            <div class="form-group">
                <input id="password" name="password" type="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input id="repeatedPassword" name="repeatedPassword" type="password" placeholder="Repeat password" required>
            </div>
        </fieldset>
        <fieldset id="actions">
            <button type="submit" name="submit" id="submit" value="Sign Up">Sign Up</button>
            <div>
                Already have an account?
                <a th:href="@{/signin}">
                    Login here
                </a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>